
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- <a  href="#">ACN</a> -->
    <a  class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
     ACN
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <div class="container">
          <div class="row">
            <div class="col-sm img-nav">
              <img src="../assets/147144.png" height="35px" width="35px"alt="" >
            </div>
            <div class="col-sm">
              
              <a class="nav-link name disabled" href="#">Phitchayatida</a>
            </div>
            
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<app-swiper></app-swiper>




<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Accenture</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="">
      <img src="../assets/Accenture-logo.png" width="350px" alt="">
      <!-- Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc. -->
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
</div>
<div class="bottom-bar avbar-light bg-light">
  2023
</div>