/* You can add global styles to this file, and also import other style files */
/* swiper img{
    max-height: 400px;   
    width: fit-content; 
} */
@import "~swiper/css";
@import "~swiper/css/bundle";
swiper .img{
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-image: url('./assets/Accenture-logo.png'); */
}